<!DOCTYPE html>
<html>
    <title>Class 1</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
      <nav>
        <h2>navigation bar</h2>
        <%= name  %>

        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">contact us</a></li>
        </ul>
      </nav>
  </body>
</html>
